@font-face {
    font-family: 'pretendard';
    src: url(font/PretendardVariable.ttf);
  }
body{
    font-family: 'pretendard';

}

#bold{
    font-weight: bold;
}
#title{
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}
