.text {
  margin: auto;
  height: 500px;
  width: 800px;
}
.bottom {
  width: 1000px;
  margin: auto;
  margin-bottom: 100px;
  padding-left: 200px;
}
.delete {
  width: 600px;
  height: 50px;
  background-color: #ffe699;
  color: rgb(97,7,26);
  border-style: hidden;
  font-weight: bold;
}
.cb1 {
  text-align: left;
}
.textmain {
  margin-top: 100px;
}